# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = tutorial.settings

[deploy:tutorial_deploy]
url = http://120.77.144.48:6801/
project = tutorial
username = scrapyd
password = scrapyd

